#aside-container 
{
    position: fixed;
    top: 0;left: 0;
    @include flexDimension(center,center);
    padding: 15px;
    height: 100%;
    z-index: 899;
    transition: .4s ease-in-out;
}

#aside-btns-wrap
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aside-btn
{
    background-color: var(--white-gray-1);
    display: flex;
    align-items: center;
    gap: 8px;
    width: 57px;
    height: 56px;
    color: var(--font-color-1);
    padding: 0 18px;
    font-size: 20px;
    border-radius: 50px;
    transition: .3s;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    i {font-size: 22px;}
    span 
    {
    opacity: 0;
    position: relative;
    top: 2px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    }
    &:hover 
    {
    background-color: var(--blue);
    color: #fff;
    width: 123px;
    }
    &:hover span {opacity: 1;}
}

@media (max-width:980px)
{
    #aside-container
    {
    left: -100%;
    background-color: var(--white-gray-2);
    border-right: 1px solid var(--white-gray-3);
    }
    .aside-btn
    {
    width: 250px;
    box-shadow: none;
    span {opacity: 1;}
    &:hover {width: 250px;}
    }   
}