.light
{
    --white-bg: #fff;
    --white-icon: #fff;
    --hero-color-1: #ffffffab;
    --hero-color-2: #ffffff9e;
    --white-gray-1: #f2f3f5;
    --white-gray-2: #f7f8f9;
    --white-gray-3: #ddd;
    --font-color-1: #45505b;
    --font-color-2: #212529;
    --blue: #0563bb;
    --blue-trans: #eef7ff;
    --matte-gray-blue: #728394;
    --footer-border: #dddddd52;
}

.dark
{
    --white-bg: #161616;
    --white-icon: #e2e4e5;
    --hero-color-1: #202428d9;
    --hero-color-2: #2024284d;
    --white-gray-1: #292d34;
    --white-gray-2: #161718;
    --white-gray-3: #ddd;
    --font-color-1: #e2e4e5;
    --font-color-2: #c5c5c5;
    --blue: #078df7;
    --blue-trans: #eef7ff;
    --matte-gray-blue: #728394;
    --footer-border: #dddddd14;
}